<tr>
    <th scope="row">{{_id}}</th>
    <td>
        <img style="width: 50%" id="testRoller" data-snimka-id="1KriloLqvoOtvarqneNaklanqne.png" src="../../snimki/{{srcId}}" alt="">
    </td>

    <td>{{kasa.kasaWidth}}</td>
    <td>{{kasa.kasaHeight}}</td>
    <td>недовършено</td>
    <td>
        <a href="#/catalog/:{{_id}}" class="team-box">
            Details
        </a>
    </td>
</tr>